.header {
  display: flex;
  border-bottom: 1px solid #cfcfcf;
}

.title {
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 600;
  flex-grow: 1;
}

.createdDate {
  padding: 22px 30px;
  color: #4e4e4e;
  font-size: 16px;
}

.content {
  padding: 30px;
  font-size: 16px;
  min-height: 450px;
}
.fileDownloadContainer{
  border-bottom: 1px solid #707070;
}
.fileDownloadBox{
  margin: 16px;
  padding: 23px 9px;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
}
.fileDownload{
  text-decoration: underline;
  font-size: 16px;
}

.footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.listBtn{
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #707070;
  border-radius: 5px;
  font-size: 18px;
}
.listBtn:hover{
  background-color: black;
  color: white;
}