.title {
  font-size: 32px;
  font-weight: 700;
}

.desc {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
}

.nav {
  margin-top: 24px;
  height: 50px;
  border-bottom: 1px solid #0d0d0d;
  position: relative;
}

.navList {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.navItem {
  padding: 15px 24px;
  font-size: 18px;
  cursor: pointer;
}

.active {
  cursor: default;
  font-size: 18px;
  font-weight: bold;
  /* border-bottom: 5px solid #dd2626; */
}
