.nav {
  display: flex;
  justify-content: center;
  height: 60px;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 20px;
}

.navList {
  display: flex;
  gap: 62px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.6px;
  align-items: center;
}

.navItem {
  text-decoration: none;
  color: #000;
}

.navItem:visited {
  color: #000;
}
