.titleBox{
    text-align: center;
    margin: 100px auto 25px auto;
    width: 1400px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.nav{
    margin-bottom: 30px;
}
.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 60px;
    gap: 80px;
    margin: auto;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.navItem{
    font-size: 18px;
    color: #AFAFAF;
}