.header{
    position: fixed;
    width: calc(100% - 30px);
    height: 64px;
    z-index: 100;
    padding: 0px 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.logoText{
    width:130px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}
.btnBox{
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    cursor: pointer;
}
.open{
    width: 32px;
    height: 32px;
}
.close{
    width:15px;
    height: 15px;
}