.wrapper{
}

.form{
    height: 100%;
    padding: 12px 0px;
}
.askTypeBox{
    display: flex;
    align-items: center;
}
.askLabel{
    width: 155px;
    text-align: left;
    font-size: 16px;
}

.typeWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 138px;
    border: 1px solid #C2C2C2;
    margin-right: 5px;
}
.typeOption{
    font-size: 14px;
    display:flex;
    justify-content: space-between;
    width: 110px;
}
.dropDownTypeBox{
    position: absolute;
    display: grid;
    width: 138px;
    justify-content: center;
    top: 40px;
    font-size: 14px;
    border: 1px solid #C2C2C2;
    background-color: white;
}
.optionStyle{
    width: 138px;
    padding: 6px;;
    box-sizing: border-box; 
    text-align: center;
    cursor: pointer;
}
.optionStyle:hover{
    background-color: #F6F6F6;
}


.askTitle{
    display: flex;
    align-items: center;
    height:40px;
    width: 778px;
    border: 1px solid #C2C2C2;
    box-sizing: border-box; 
}
.askInput{
    padding-left: 12px;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
    border: none;
}


.btnBox{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #6A6A6A;
    margin-right:10px;
    color: black;
}
.btn:hover{
    background-color: #111111;
    color: white;
}
