.textWrapper{
    display: flex;
    justify-content: center;
    width: 1400px;
    margin: 100px auto 25px auto;
}
.text{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.productWrapper{
    width: 1400px;
    min-height: 430px;
    margin: 0px auto 30px auto;
}
.productList{
    display: flex;
    gap: 16px;
}