.contentTitle{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 1080px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    align-items: center;
}
.reviewBtn{
    font-size: 16px;
    width: 85px;
    height: 30px;
    text-align: center;
    background: #7c7c7c;
    border-radius: 4px;
    color: white;
}