.input {
  font-size: 14px;
  padding: 16px 10px;
  border-radius: 5px;
  border: 1px solid #8c8c8c;
}

.input::placeholder {
  color: #a4a4a4;
}

.input:focus {
  outline: none;
}

.readonly {
  background-color: #e8e8e8;
}
