.checkWrapper{
    width: 1080px;
    height: 501px;
        align-content: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.textBox{
    margin: auto;
    width: 450px;
    margin-bottom: 10px;
}
.notice{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 2;
}
.describe{
    font-size: 14px;
    line-height: 1.5;
}

.activeBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.passwordInput{
    font-size: 14px;
    border: 1px solid #D2D2D2;
    margin-right: 5px;
    height: 45px;
    width: 350px;
    padding-left: 10px;
    border-radius: 4px;
}
.verifyBtn{
    width: 90px;
    height: 48px;
    background-color: #151515;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    text-align: center;
    align-self: center;
}