.fileUpload{
    display: flex;
    align-items: flex-start;
    margin: 12px 12px 0px 12px;
    gap: 8px;
}
.selectFileBtn{
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    flex: 0 0 auto; /* 고정 크기 */
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 5px;
}
.fileList{
    flex: 1;
    width: 850px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    min-height: 15px;
    padding: 12px;
}
.fileBox{
    display: grid;
    align-items: center;
    gap: 8px;
}
.closeBtn{
    cursor: pointer;
    width: 10px;
    height: 10px;
}
.file{
    font-size: 14px;
    align-items: center;
    display: flex;
    gap: 6px;
}