.adminContainer {
    min-height: 100vh;
    background-color: #F1F1F1;
    padding: 32px;
}
.pageLabel{
    font-size: 20px;
    font-weight: bold;
}

.emptyInquire{
  font-size: 18px;
  color: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.askListContainer {
  margin-top: 30px;
  font-size: 14px;
}
.listTitle{
    font-size: 14px;
    font-weight: bold;
}
.listTitle, .list {
    background-color: #EDF4FF;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.listTitle li, .list li {
  /* flex: 1; */
  text-align: center;
}

/* .proccess, .title, .date, .actions {
  flex: 1;
} */
.title{
  width: 740px;
}
.proccess, .type{
  width: 140px;
}
.titleText{
  width:740px;
  padding-left: 12px;
  text-align: left !important;
}
.date, .loginId, .actions{
  width:180px;
}

.listAsk {
  background: white;
  cursor: pointer;
  align-items: center;
}
.listAsk:hover {
  background: #F9FAFC;
}

.listAskActive {
  background: #F9FAFC;
    align-items: center;
}

.askContainer {
  border-bottom: 1px solid #ddd;
  background-color: white;
}

.content {
  padding: 12px;
  margin-bottom: 10px;
  min-height: 50px;
}
.response{
  padding: 12px;
  min-height: 100px;
  background-color: #FAFAFA;  
  border-top: 1px solid #ddd;
}

.ImgAndBtnBox {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.submitReplyBox{
  display: flex;
  width: 100px;
  justify-content: center;
}

.btnBox {
  display: flex;
  gap: 10px;
}

.replyBox{
  display: flex;
  margin: 12px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: space-between;
}

.actionBtn {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #B8B8B8;
  border-radius: 5px;
  margin-right: 5px;
}
.submitReplyBtn{
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #B8B8B8;
  border-radius: 5px;
  width: 100px;
}

.replyTextarea {
    width: 89%;
    height: 100px;
    height: 100px;
    resize: none;
    border: none;
}
.replyTextarea:focus {
    outline: none;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.redColor{
  color: red;
}